[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest
[submodule "third-party/panjd123"]
	path = third-party/panjd123
	url = https://github.com/panjd123/Surakarta-RuleAiTest
